In [5]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
df = pd.read_csv('train.csv')

In [6]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [7]:
df.shape

(8693, 14)

In [8]:
mode_op = ['HomePlanet' ,'Destination']

for feature in mode_op:
    df[feature] = df[feature].fillna(df[feature].mode()[0])

In [9]:
median_op = ['CryoSleep', 'Age', 'VIP', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']

df[median_op] = df[median_op].fillna(df[median_op].median())

In [10]:
df = df.dropna()

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8296 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8296 non-null   object
 1   HomePlanet    8296 non-null   object
 2   CryoSleep     8296 non-null   object
 3   Cabin         8296 non-null   object
 4   Destination   8296 non-null   object
 5   Age           8296 non-null   float64
 6   VIP           8296 non-null   object
 7   RoomService   8296 non-null   float64
 8   FoodCourt     8296 non-null   float64
 9   ShoppingMall  8296 non-null   float64
 10  Spa           8296 non-null   float64
 11  VRDeck        8296 non-null   float64
 12  Name          8296 non-null   object
 13  Transported   8296 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 915.5+ KB

In [12]:
df = df.drop(columns="PassengerId")

In [13]:
from sklearn.preprocessing import LabelEncoder
for i in df.columns:
  if (df[i].dtype == "object"):
      le = LabelEncoder()
      df[i] = le.fit_transform(df[i])

In [14]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [15]:
x = df[df.columns[:-1]]
y = df[df.columns[-1]]

In [16]:
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)

In [17]:
model = GaussianNB()
X_train,X_test,y_train,y_test = train_test_split(x_scaled,y,test_size=0.2,random_state=42)

In [18]:
model.fit(X_train,y_train)

GaussianNB()

In [19]:
from sklearn.metrics import accuracy_score
test = model.predict(X_test)
print(accuracy_score(y_test,test))

0.6873493975903614

In [20]:
data_test = pd.read_csv('test.csv')

In [21]:
data_test.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [22]:
passengerId = data_test['PassengerId']
data_test = data_test.drop(columns="PassengerId")

In [23]:
from sklearn.preprocessing import LabelEncoder
for i in data_test.columns:
  if (data_test[i].dtype == "object"):
    le = LabelEncoder()
    data_test[i] = le.fit_transform(data_test[i])

In [24]:
data_test = data_test.fillna(value=10)

In [25]:
hasil = model.predict(data_test)

c:\Users\RyanMFDR\anaconda3\Lib\site-packages\sklearn\base.py:432: UserWarning: X has feature names, but GaussianNB was fitted without feature names
  warnings.warn(

In [26]:
hasil = pd.Series(hasil)

In [27]:
hasil = pd.concat([passengerId, hasil], axis=1)

In [28]:
hasil.head()

  PassengerId      0
0     0013_01   True
1     0018_01  False
2     0019_01   True
3     0021_01   True
4     0023_01   True

In [29]:
hasil.rename(columns = {0:'Transported'}, inplace=True)

In [30]:
hasil.to_csv('hasil_naive.csv', index=False)

: